
@media (max-aspect-ratio: 1/1){
  li{
    height: 30vh;
  }
}

.Header{
  width: 15vw;
  font-family: Mukta;
  color: white;
  position: relative;
  top: 12px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.rainbow:hover {
  background-image: linear-gradient(to left, #E5059A, #E5FF59, #F504FD,#17F8E2);   -webkit-background-clip: text;
  color: transparent;
}

.Header h4{
  font-size: 1vw;
}

.HEAD{
  font-size: 1vw;
  font-weight: lighter;
}


.HEAD a:hover{
  font-size: 1.5vw;
}

.BIO{
  font-size: 0.9vw;
  color: #223843;
  top:200px;
}

a{
  color: white;
  outline: none;
  text-decoration: none;
}

a:hover{
  font-size: 2vw;
}

.INSPIR a:hover{
  color: #8A47FB;
}

.PORT a:hover{
  color: #4AAD52;
}

.ABOUT a:hover{
  color: #0067FF;
}


.BIO p{
  font-size: 1.2vw;
  color: gray;
  font-family: Roboto;
}




#butt{
  width: 10%;
  top: 100px;
  left: 50px;
  position:relative;
  background-color: transparent;
  border: none;
}

#butt1{
  width: 10%;
  top: 100px;
  position:relative;
  background-color: transparent;
  border: none;

}

#butt2{
  width: 10%;
  top: 100px;
  position:relative;
  right: 50px;
  background-color: transparent;
  border: none;

}


.button img{
  height: 55px;
}

.button img:hover{
  filter: invert();
}



h1{
  color: pink;
}

.intro{
    max-width: 32em;
    left:850px;
    margin-right: auto;
    font-family: Roboto;
    color: white;
    top: 50px;
    justify-content: center;
    position: relative;
}

.intro2 {
    max-width: 32em;
    left:50px;
    margin-right: auto;
    font-family: Roboto;
    color: white;
    bottom: 10px;
    justify-content: center;
    position: relative;
}


.intro > p,
.intro2 > p {
    font-weight: 300;
    font-size: 1.5vw;
    letter-spacing: 0.05em;
}

.intro2 > h2 {
    font-family: Lora;
    font-size: 2vw;
    font-weight: bold;
}
